*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.hero {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: rgb(35, 38, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
