nav{
  width: 100%;
  height: 15vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: white;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  font-size: 20px;
}

.footer{
  width: 100%;
  height: 15vh;
  background-color: rgb(40, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2vw;
}

.home{
  width: 100%;
  height: 70vh;
  background-color: rgb(73, 4, 4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
  color: white;
}

.about{
  width: 100%;
  height: 70vh;
  background-color: rgb(4, 7, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
  color: white;
}

.contact{
  width: 100%;
  height: 70vh;
  background-color: rgb(81, 110, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

a.active{
  color: rgb(201, 135, 13);
  text-decoration: underline;
}