nav{
  width: 100%;
  height: 15vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: white;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  font-size: 20px;
}

.footer{
  width: 100%;
  height: 15vh;
  background-color: rgb(40, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}