.card{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h1{
    margin: 0;
}

.card h3{
    margin: 0;
}